In [1]:
# question 1
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isnull().sum()
# there is 1 missing value in the "id" category and 11 
# missing values in the "song" category as seen through 
# using the .isnull() function

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [2]:
# question 1 (cont)
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
total_missing = df.isna().sum().sum()
print(f"Total missing values: {total_missing}")

# this code displays the number of total missing values

Total missing values: 12

In [3]:
# question 2
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv') 

# Get number of rows and columns
num_rows, num_columns = df.shape

print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")
# This code provided by the ChatBot is used to identify the number of 
# rows and columns in a dataset.

# My definition of Observation and Variable (in the context of the dataset) 
# as explained by ChatBot:
# Observations are individual entries in the dataset where each observation
# represents a single entity; in the case of my dataset, each observation are 
# rows that correspond to individual villagers. Variables on the otherhand are 
# attributes that describe the observations and are the columns in the dataset. 
# In my dataset, some examples of variables would be 'name' or 'species'.

Number of rows: 391
Number of columns: 11

In [5]:
# question 3
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

# Summary statistics for numerical columns
print("Numerical columns summary:")
print(df.describe())
print()

Numerical columns summary:
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [6]:
# question 3 (cont)
# Summary for categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns
print("Categorical columns summary:")
for column in categorical_columns:
    print(f"Summary for {column}:")
    print(df[column].value_counts())
    print()

Categorical columns summary:
Summary for id:
id
admiral    1
mott       1
paula      1
patty      1
pate       1
          ..
eloise     1
elmer      1
ellie      1
elise      1
zucker     1
Name: count, Length: 390, dtype: int64

Summary for name:
name
Admiral    1
Muffy      1
Paula      1
Patty      1
Pate       1
          ..
Elvis      1
Eloise     1
Elmer      1
Ellie      1
Zucker     1
Name: count, Length: 391, dtype: int64

Summary for gender:
gender
male      204
female    187
Name: count, dtype: int64

Summary for species:
species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64

Summary for birthday:
birthday
1-27     2
12-5     2
7-31     2
3-26     2
8-3      2
        ..
4-3      1
10-26    1
7-23     1
12-8     1
3-8      1
Name: count, Length: 361, dtype: int64

Summary for personality:
personality
lazy      60
normal    59
cranky    55
snooty    55
jock      55
peppy     49
smug      34
uchi      24
Name: count, dtype: int64

Summary for song:
song
K.K. Country     10
Forest Life       9
Imperial K.K.     7
K.K. Soul         7
K.K. Ragtime      7
                 ..
Aloha K.K.        2
Drivin'           1
Senor K.K.        1
K.K.  Bazaar      1
K.K. D&B          1
Name: count, Length: 92, dtype: int64

Summary for phrase:
phrase
wee one       2
quacko        2
bloop         2
aye aye       1
snoot         1
             ..
lambchop      1
yeah buddy    1
chow down     1
unh-hunh      1
pronk         1
Name: count, Length: 388, dtype: int64

Summary for full_id:
full_id
villager-admiral    1
villager-muffy      1
villager-paula      1
villager-patty      1
villager-pate       1
                   ..
villager-elvis      1
villager-eloise     1
villager-elmer      1
villager-ellie      1
villager-zucker     1
Name: count, Length: 391, dtype: int64

Summary for url:
url
https://villagerdb.com/images/villagers/thumb/admiral.98206ee.png    1
https://villagerdb.com/images/villagers/thumb/muffy.1497c92.png      1
https://villagerdb.com/images/villagers/thumb/paula.563ba81.png      1
https://villagerdb.com/images/villagers/thumb/patty.3e17f7f.png      1
https://villagerdb.com/images/villagers/thumb/pate.c60838c.png       1
                                                                    ..
https://villagerdb.com/images/villagers/thumb/elvis.57d4757.png      1
https://villagerdb.com/images/villagers/thumb/eloise.112208b.png     1
https://villagerdb.com/images/villagers/thumb/elmer.cc7df52.png      1
https://villagerdb.com/images/villagers/thumb/ellie.5a144a6.png      1
https://villagerdb.com/images/villagers/thumb/zucker.8dbb719.png     1
Name: count, Length: 391, dtype: int64

In [7]:
# question 3 (cont)
# General information about the DataFrame
print("General information about the DataFrame:")
print(df.info())
print()

General information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        391 non-null    int64
 1   id           390 non-null    object
 2   name         391 non-null    object
 3   gender       391 non-null    object
 4   species      391 non-null    object
 5   birthday     391 non-null    object
 6   personality  391 non-null    object
 7   song         380 non-null    object
 8   phrase       391 non-null    object
 9   full_id      391 non-null    object
 10  url          391 non-null    object
dtypes: int64(1), object(10)
memory usage: 33.7+ KB
None

In [8]:
# question 3 (cont)
# Summary of missing values
print("Missing values per column:")
print(df.isna().sum())
print()

Missing values per column:
row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [9]:
# question 3 (cont)
# Display the first few rows
print("First few rows of the DataFrame:")
print(df.head())
print()

First few rows of the DataFrame:
   row_n       id     name  gender    species birthday personality  \
0      2  admiral  Admiral    male       bird     1-27      cranky
1      3  agent-s  Agent S  female   squirrel      7-2       peppy
2      4    agnes    Agnes  female        pig     4-21        uchi
3      6       al       Al    male    gorilla    10-18        lazy
4      7  alfonso  Alfonso    male  alligator      6-9        lazy

          song    phrase           full_id  \
0   Steep Hill   aye aye  villager-admiral
1      DJ K.K.  sidekick  villager-agent-s
2   K.K. House   snuffle    villager-agnes
3   Steep Hill   Ayyeeee       villager-al
4  Forest Life  it'sa me  villager-alfonso

                                                 url
0  https://villagerdb.com/images/villagers/thumb/...
1  https://villagerdb.com/images/villagers/thumb/...
2  https://villagerdb.com/images/villagers/thumb/...
3  https://villagerdb.com/images/villagers/thumb/...
4  https://villagerdb.com/images/villagers/thumb/...

In [10]:
# question 3 (cont)
# Count unique values in each column
print("Unique values per column:")
print(df.nunique())

Unique values per column:
row_n          391
id             390
name           391
gender           2
species         35
birthday       361
personality      8
song            92
phrase         388
full_id        391
url            391
dtype: int64

In [11]:
# question 4
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Display the shape of the DataFrame
print("Shape of the DataFrame:", df.shape)

# Display descriptive statistics
print("Descriptive statistics for numerical columns:")
print(df.describe())

# Discrepancies can be found between the values of df.shape and df.describe() 
# because df.shape includes all columns in the dataframe, regardless of their 
# data type while df.describe() (by default) only includes numerical columns.
# Furthermore, df.shape[0] (the number of rows) is the total number of observations 
# in the DataFrame. df.describe() reports the "count" of non-missing values for each
# numerical column. If a numerical column has missing values, the "count" reported 
# will be less than the total number of rows.

# A discrepancie can be seen in the age column because there are 891 observations
# as counted by df.shape, however, df.describe() only counted 714 since it didn't 
# include missing values.

Shape of the DataFrame: (891, 15)
Descriptive statistics for numerical columns:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [12]:
# question 5

# Here is the ChatBot's explanation/summary of the difference between
# attributes and methods:
# Attributes: Think of attributes as pieces of information or properties that
# belong to an object. They give you details about the object’s state but don’t
# do anything beyond that. For instance, df.shape tells you the dimensions of 
# the DataFrame without changing anything.
# Methods: Methods are more like actions or operations that an object can perform. 
# They do something with the object’s data and often return a result. For example, 
# df.describe() performs a calculation and provides a summary of statistics about 
# the DataFrame's numerical columns.

# My takeaway: 
# Attributes are simply values that are associated with the object. They hold data 
# about the object and when called may give information about the object itself.
# Methods on the otherhand are functions associated with the object and can 
# perform actions based on the object's data or even modify it's state.

In [ ]:
# question 6

#definitions:
# Count: Tells the number of valid data entries in the column
# Mean: Sum of all values divided by the count of non-missing values
# Std: Std stands for Standard Deviation and this measures the amount of 
# dispersion of the values from the mean, helping us to understand if the 
# data is consistent
# Min: The minimum/smallest value in the column
# 25%: The 25th percentile divides the lowest 25% of data from the rest by 
# giving the value where the data seperates
# 50%: The 50th percentile divides the data into two equal halves and gives 
# value at the middle of the data when sorted in ASCENDING order
# 75%: The 75th percentile seperates the lowest 75% of data from the highest 
# 25% by giving the value at the position where the data seperates
# Max: The maximum/largest value in the column

In [16]:
# question 7

# df.dropna() removes the rows missing values by default
# but can be altered to also remove columns with missing vaues by using 
# the (axis=1) parameter.
# del df['col'] deletes specific columns from the dataframe regardless of 
# whether or not it is missing values.
# Both are useful, but df.dropna() is useful if you're trying to get rid of
# all rows or columns with missing values while del df['col'] is useful if 
# you want to get rid of a specific column (possibly containing irrelevant 
# data.

# 1.
# A use case where df.dropna() might be preferred over del df['col'] when you 
# require full/complete sets of data. Removing the rows or columns with incomplete
# info will allow you to keep your dataframe consistent.

# 2.
# A use case where del df['col'] might be more useful may be when a specific column 
# is not useful/irrelevant. del df['col'] will simplify your dataframe.

# 3. 
# First using del df['col'] could be important because removing irrelevant columns first
# makes the data cleaning process cleaner since working with only important columns streamlines 
# the focus on cleaning.

# 4. 
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
df.isnull().sum()

# In this dataset example, by using df.isnull().sum(), I can see that there is a 
# significant amount of data missing in the 'deck' column. I potentially may want 
# to remove all rows with missing data and the 'deck' column ENTIRELY because since 
# there is so much missing info, the data in that column is not consistent. The logical 
# thing to do, would be to use del df['deck'] first.

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
# SUMMARY OF CHATBOT SESSION

#- Understanding DataFrame Attributes vs. Methods
# Attributes: Variables associated with an object, like df.shape, which provides information about the DataFrame’s dimensions. Accessed without parentheses.
# Methods: Functions associated with an object, like df.describe(), which perform actions and return results. Called with parentheses.
# - Summary Statistics Provided by df.describe()
# Count: Number of non-missing values in each column.
# Mean: Average value of the numerical data.
# Standard Deviation (std): Measure of the spread of values around the mean.
# Minimum (min): Smallest value in the column.
# 25th Percentile (25%): Value below which 25% of the data falls.
# 50th Percentile (50%): Median value (middle value) of the data.
# 75th Percentile (75%): Value below which 75% of the data falls.
# Maximum (max): Largest value in the column.
# - Handling Missing Data: df.dropna() vs. del df['col']
# df.dropna(): Removes rows or columns with missing values. Can be configured to drop rows (axis=0) or columns (axis=1), with options for dropping based on any or all missing values.
# del df['col']: Deletes a specific column from the DataFrame. Used to remove columns that are deemed irrelevant or have excessive missing data.
# - Importance of Order in Data Cleaning
# Applying del df['col'] before df.dropna():
# Efficiency: Reduces the size of the DataFrame, leading to faster computations and lower memory usage.
# Relevance: Ensures that df.dropna() operates only on relevant columns, preserving valuable data.
# Simplifies Data Management: Makes the data cleaning process more manageable and the resulting DataFrame easier to work with for further analysis.
# Example Workflow
# Removing Irrelevant Columns: del df['Irrelevant_Column']
# Dropping Rows with Missing Values: df.dropna()
# By following these practices, you can effectively manage and clean your dataset, ensuring that you retain meaningful information and enhance the efficiency of your data processing and analysis tasks.

In [1]:
# question 8 

# 1. 
# df.groupby("col1") groups df by the values in "col1", creating separate
# groups for each unique value. ["col2"] then specifies the focus on column 
# "col2". .describe() then generates a descriptive statistic for "col2" 
# within each group. An example of how df.groupby("col1")["col2"].describe()
# can be used with the titanic dataset could be to find the average/mean age 
# of each class and analyze the std. 

import pandas as pd

# Load the Titanic dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)
df.groupby('pclass')['age'].describe()

        count       mean        std   min   25%   50%   75%   max
pclass
1       186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
2       173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
3       355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

In [ ]:
# 2. 
# df.describe() provides a overall summary of each column, giving a general picture
# of missing data across the entire dataset. df.groupby("col1")["col2"].describe() 
# gives a detailed summary for "col2" within the categories of "col1". This reveals
# how the missing values are distributed among different groups.

In [ ]:
# 3.
# A. ChatGPT is faster and easier to troubleshoot with when forgetting
# to include import pandas as pd in the code. This is because once I showed 
# my code to the bot, it easily identified the error and provided me with the 
# code instantly.

# B. ChatGPT again is faster and easier to troubleshoot with when there are typos 
# because ChatGPT doesn't need to be familiar with the code. Using the chatbot is 
# far more practical when it comes to typos due to the fact that my typos, although 
# unique, the chatbot simply identifies my typo, as opposed to google where I may
# only gain assistance if someone in the past has made the same typo.

# C. Again, ChatGPT is faster and easier to ask for help because it identifies what 
# I missed. Using google requires me to scour the internet for help.

# D. ChatGPT takes the cake once more. It easily identified my missing parentheses.

# E. ChatGPT wins again, finding the typo in the chained function with ease.

# F. ChatGPT found the capitalization error and rewrote the code for me.
# Google wasn't able to provide me with any help; in my opinion, ChatGPT is
# stronger when it comes to "unique" errors like typos because it recognizes that
# the code is CASE-SENSITIVE while it seems like google cannot provide the same insight/
# accuracy.

# G. ChatGPT once again was easier to talk to when troubleshooting because all I had to 
# do was show it my code and say it wasn't working. Google on the otherhand required multiple
# different searches to try to figure out why it wasn't working. 

# All in all, ChatGPT is far more efficient when it comes to troubleshooting.

In [ ]:
#Summary of Interactions on Troubleshooting Pandas Code

#Missing Import Statement

#Issue: Attempted to use pandas functions without importing pandas.
#Error: NameError: name 'pd' is not defined
#Solution: Ensure pandas is imported with import pandas as pd.
#Incorrect File Name

#Issue: Provided an incorrect file name ("titanics.csv") instead of the correct one ("titanic.csv").
#Error: FileNotFoundError: [Errno 2] No such file or directory: 'titanics.csv'
#Solution: Correct the file name in the code.
#Misnaming the Variable

#Issue: Used incorrect variable name (DF instead of df).
#Error: AttributeError: 'DataFrame' object has no attribute 'group_by'
#Solution: Use the correct variable name (df).
#Missing Parenthesis

#Issue: Omitted a closing parenthesis in the pd.read_csv() function.
#Error: SyntaxError: unexpected EOF while parsing
#Solution: Ensure all parentheses are properly closed.
#Mistyped Chained Function Names

#Issue: Used incorrect method names (group_by and describle).
#Error: AttributeError: 'DataFrame' object has no attribute 'group_by', AttributeError: 'Series' object has no attribute 'describle'
#Solution: Use the correct method names (groupby and describe).
#Incorrect Column Name in groupby

#Issue: Referenced column names with incorrect capitalization or spelling.
#Error: KeyError: 'Sex', KeyError: 'Age'
#Solution: Use the exact column names as they appear in the DataFrame.
#Column Name Without Quotes

#Issue: Forgot to use quotes around column names in groupby and indexing.
#Error: NameError: name 'sex' is not defined, NameError: name 'age' is not defined
#Solution: Enclose column names in quotes ("sex" and "age").

In [ ]:
# question 9
# Somewhat/Yes/Mostly